.navbar {
  background-color: #7CCD7C;
}
.navbar a {
  color: black;
}

.navbar-light .navbar-nav .nav-link {
color: black;
}

i {
  font-size: 27px;
  width: 34px;
}

.navbar a {
  font-size: 19px;
}

@media screen and (max-width: 600px) {
    .navbar ul li {
      list-style-type: none;
      border-left: 0px;
      border-right: 0px;
    }
  }

  .navbar-light .navbar-toggler {
    border-color: #7CCD7C;
    width: 85px;
}

@media screen and (max-width: 600px) {
  p {
    padding: 10px;
  }

  h5 {
    padding: 10px;
  }

  li {
    padding: 10px;
  }
}

.navbar a:hover {
  color: #c5f0c5;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: #c5f0c5;
}

.navbar-light .navbar-nav .active>.nav-link:hover {
color: #c5f0c5;
}

.navbar-light .navbar-nav .nav-link:hover {
color: #c5f0c5;
}

h1 {
  font-family: Helvetica, "sans-serif";
  font-size: 35px;
  text-align: center;
}


p {
    font-family: Helvetica;
    color: black;
    font-size: 15px;
    text-align: justify;
   
}


a {
  text-decoration: none;
}

a:hover {
  color: #7CCD7C;
}

.button a {
  text-decoration: none;
  font-family: Helvetica;

}

button a:link {
  text-decoration: none;
}

.dropdown-item:hover{
background-color:  #7CCD7C;
}

button:hover {
  cursor: pointer;
  background-color:  #c5f0c5;
}

.footer {
    bottom: 0px;
    width: 100%;
}
  
ul.footer {
    list-style-type: none;
    margin: 0;
    padding: 6px;
    overflow: hidden;
    background-color: #7CCD7C;
    font-family: Helvetica;
}
  
ul.footer li {float: right;}
  
ul.footer li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: Helvetica;
}

ul.footer li a:hover {
color: #c5f0c5;
}
  
ul.footer li a.active {background-color: #4CAF50;}
  
ul.footer li.right {float: right;}
  

  
ul li {
    list-style-type: none;
    border-left: 1px solid black;
    border-right: 0px solid black;
}

.footer ul li {
list-style-type: none;
border-left: 0px solid black;
border-right: 1px solid black;
}