body {
  margin: 0;

}
.w3-container .topnav a{
  padding: 15px;
  text-decoration: none;
  font-family: Helvetica;
}

.w3-container {
 
  background-color: #7CCD7C;
  font-family: Helvetica;
}

.w3-container .topnav .w3-dropdown-hover .w3-button{
  font-size: 18px;
}

.w3-container a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 20px;
}

.w3-dropdown-content .w3-bar-item:hover,
.topnav .w3-button:hover {
  background-color: #90EE90 !important;
}

.w3-button {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: Helvetica;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7CCD7C;
  font-family: Helvetica;
  font-size: 15px;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: Helvetica;
}

ul.topnav li a:hover:not(.active) {background-color: #90EE90;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

ul li {
  list-style-type: none;
  border-right: 1px solid black;
}

ul li:last-child {
  border: 0px;
}

.citacao {
    background-color: #c5f0c5;
    padding: 10px;
    border-radius: 10px;
}
.titulo {
  margin-top: 55px;
  font-family: 'Sansita Swashed', cursive;
  font-size: 35px;
  text-align: center;
}

p {
    font-family: Helvetica;
    color: black;
    font-size: 20px;
}

.td {
  padding: 8px;
}

.slides {
  text-align: center;


}

#botao1 {
  background-color:#db6d32;
  border: white;
  width: 90px;
  height: 135px;
  border-radius: 10%;
  padding: 5px;
}
#botao2 {
  background-color:#f7b40d;
  border: white;
  width: 96px;
  height: 135px;
  border-radius: 10%;
  padding: 5px;
}

#botao3 {
  background-color: #67ba07;
  border: white;
  width: 107px;
  height: 135px;
  border-radius: 10%;
  padding: 5px;
}
#botao4 {
  background-color: #0bcaaa;
  border: white;
  width: 107px;
  height: 135px;
  border-radius: 10%;
  font-size: 14px;
  padding: 5px;
}
#botao5 {
  background-color: #6fb3d8;
  border: white;
  width: 99px;
  height: 135px;
  border-radius: 10%;
  padding: 5px;
}
#botao6 {
  background-color: #776daa;
  border: white;
  width: 98px;
  height: 135px;
  border-radius: 10%;
  padding: 5px;
}
#botao7 {
  background-color: #bd34af;
  border: white;
  width: 90px;
  height: 135px;
  border-radius: 10%;
  padding: 5px;
}
#botao8 {
  background-color: #d52071;
  border: white;
  width: 99px;
  height: 135px;
  border-radius: 10%;
  font-size: 14px;
  padding: 5px;
}
#botao9 {
  background-color:#e70606;
  border: white;
  width: 99px;
  height: 135px;
  border-radius: 10%;
  font-size: 14px;
  padding: 5px;
}
#botao10 {
  background-color: #6d6d6d;
  border: white;
  width: 104px;
  height: 135px;
  border-radius: 10%;
  font-size: 14px;
  padding: 5px;
}

.imagem {
  text-align: center;
}

.w3-black {
  color: #000!important;
  background-color: #c5f0c5!important;
}

button {
  background-color:  #c5f0c5;
  
    width: 200px;
    height: 55px;
    margin: 20px;
}

.button a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: Helvetica;
}

button a:link {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
  background-color: #7CCD7C;
  
}

.pdf {
  text-align: center;
}

.footer {
    bottom: 0px;
    width: 100%;
  }
  
  
  ul.footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7CCD7C;
    font-family: Helvetica;
  }
  
  ul.footer li {float: right;}
  
  ul.footer li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: Helvetica;
  }
  
  ul.footer li a:hover:not(.active) {background-color: #90EE90;}
  
  ul.footer li a.active {background-color: #4CAF50;}
  
  ul.footer li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.footer li.right, 
    ul.footer li {float: none;}
  }
  
  ul li {
    list-style-type: none;
    border-left: 1px solid black;
    border-right: 0px solid black;
  }
  
  ul li:last-child {
    border: 0px;
  }
  